@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


@font-face {
    font-family: 'argesta_textregular_italic';
    src: url('fonts/argestatext-regularitalic-webfont.eot');
    src: url('fonts/argestatext-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/argestatext-regularitalic-webfont.woff2') format('woff2'),
        url('fonts/argestatext-regularitalic-webfont.woff') format('woff'),
        url('fonts/argestatext-regularitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'argesta_textbold';
    src: url('fonts/argestatext-bold-webfont.eot');
    src: url('fonts/argestatext-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/argestatext-bold-webfont.woff2') format('woff2'),
        url('fonts/argestatext-bold-webfont.woff') format('woff'),
        url('fonts/argestatext-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'argesta_textregular';
    src: url('fonts/argestatext-regular-webfont.eot');
    src: url('fonts/argestatext-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/argestatext-regular-webfont.woff2') format('woff2'),
        url('fonts/argestatext-regular-webfont.woff') format('woff'),
        url('fonts/argestatext-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'argesta_displayregular_italic';
    src: url('fonts/argestadisplay-regularitalic-webfont.eot');
    src: url('fonts/argestadisplay-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/argestadisplay-regularitalic-webfont.woff2') format('woff2'),
        url('fonts/argestadisplay-regularitalic-webfont.woff') format('woff'),
        url('fonts/argestadisplay-regularitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'argesta_displayregular';
    src: url('fonts/argestadisplay-regular-webfont.eot');
    src: url('fonts/argestadisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/argestadisplay-regular-webfont.woff2') format('woff2'),
        url('fonts/argestadisplay-regular-webfont.woff') format('woff'),
        url('fonts/argestadisplay-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'argesta_headlineRgIt';
    src: url('fonts/argestaheadline-regularitalic-webfont.eot');
    src: url('fonts/argestaheadline-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/argestaheadline-regularitalic-webfont.woff2') format('woff2'),
        url('fonts/argestaheadline-regularitalic-webfont.woff') format('woff'),
        url('fonts/argestaheadline-regularitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'argesta_headlineregular';
    src: url('fonts/argestaheadline-regular-webfont.eot');
    src: url('fonts/argestaheadline-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/argestaheadline-regular-webfont.woff2') format('woff2'),
        url('fonts/argestaheadline-regular-webfont.woff') format('woff'),
        url('fonts/argestaheadline-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'argesta_hairlineregular';
    src: url('fonts/argestahairline-regular-webfont.eot');
    src: url('fonts/argestahairline-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/argestahairline-regular-webfont.woff2') format('woff2'),
        url('fonts/argestahairline-regular-webfont.woff') format('woff'),
        url('fonts/argestahairline-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'argesta_hairlineRgIt';
    src: url('fonts/argestahairline-regularitalic-webfont.eot');
    src: url('fonts/argestahairline-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/argestahairline-regularitalic-webfont.woff2') format('woff2'),
        url('fonts/argestahairline-regularitalic-webfont.woff') format('woff'),
        url('fonts/argestahairline-regularitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}