@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

h1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin: 3% 20% 1% 10%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
  }
  
li a {
    display: block;
    border-radius: 7%;
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #e8e3d4;
}

.active {
    background-color: #cfc9b7;
}

hr {
    margin: 2% 20% 2% 10%;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 1% 40% 1% 10%;
}

p1 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 1% 40% 1% 10%;
}

hr {
    margin: 3% 40% 3% 10%;
}