@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

h1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin: 3% 20% 1% 20%;
}

hr {
    margin: 2% 20% 2% 20%;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 1% 20% 1% 20%;
}